@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lora:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 25% 98%;
    --foreground: 240 5% 20%;
    --card: 0 0% 100%;
    --card-foreground: 240 5% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 20%;
    --primary: 252 92% 77%;
    --primary-foreground: 262 70% 23%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 4% 46%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 65%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 91% 71%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 252 92% 77%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 253 20% 13%;
    --foreground: 240 5% 95%;
    --card: 251 21% 20%;
    --card-foreground: 240 5% 95%;
    --popover: 253 20% 13%;
    --popover-foreground: 240 5% 95%;
    --primary: 250 95% 84%;
    --primary-foreground: 262 70% 23%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 56%;
    --accent: 240 4% 16%;
    --accent-foreground: 240 5% 95%;
    --destructive: 0 93% 80%;
    --destructive-foreground: 0 85% 20%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 250 95% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}